h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #fca3cc;
  padding: 10px 100px 10px 100px;
  margin: 10px 260px 10px 260px;
  background-color: #bde6eb;
  text-shadow: white 1.5px 1px;
}

.application {
  padding: 20px;
  margin: 0px 70px 0px 70px;
  background-color: #fbbedf;
  color: white;
}

.header {
  border: 1px solid #bde6eb;
  text-align: center;
}

#search-form {
  display: block;
  text-align: center;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  background-color: #fbbedf;
  color: white;
}

.card-text {
  font-size: 20px;
  color: #bde6eb;
  font-family: Arial, Helvetica, sans-serif;
}

.col-sm {
  font-size: 20px;
  color: #bde6eb;
  border: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

#search-button {
  background-color: #bde6eb;
  color: white;
  border: #bde6eb;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid white;
}

li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  list-style-type: none;
  font-style: bold;
}

.units {
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  border-radius: 5px;
  padding-right: 5px;
  display: block;
  text-align: center;
}

