.Date {
    font-size: 25px;
    font-weight: bold;
    color: #bde6eb;
}

.DisplayedCity {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.temperature {
    font-size: 40px;
    font-weight: bold;
    color: #bde6eb;
}

.Icon {
    margin-left: 100px;
    margin-top: 5px;
    display: block;
    text-align: center;
}

.unit {
    font-size: 30px;
    color: #bde6eb;
}

.result-list {
    font-weight: bold;
}

