.Date {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.temperature {
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.unit {
    font-size: 40px;
    font-weight: bold;
    color: white;
}